section.contact-me .icon-envelope1 {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8rem;
}

section.contact-me .title {
  font-size: 2.1rem;
  color: var(--title);
  margin-bottom: 1rem;
}

section.contact-me .subtitle {
  color: var(--subtitle);
  margin-bottom: 2rem;
  line-height: 1.65rem;
}

section.contact-me label {
  color: var(--subtitle);
}

section.contact-me #email,
section.contact-me #message {
  all: unset;
  background-color: rgba(63, 63, 70, 0.15);
  border: 1px solid rgb(63, 63, 70);
  width: 16rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.1rem;
}

.light section.contact-me #email,
.light section.contact-me #message {
  background-color: rgba(255, 255, 255, 0.162);
  border: 1px solid rgba(128, 128, 128, 0.451);
  box-shadow: 1px 1px 1px rgba(73, 73, 75, 0.105);
  color: #232324;
}

section.contact-me #email:focus,
section.contact-me #message:focus {
  border: 1px solid rgb(45, 212, 191);
}

section.contact-me #email:hover,
section.contact-me #message:hover {
  border: 1px solid rgb(45, 212, 191);
}

section.contact-me #message {
  min-height: 9rem;
  resize: vertical;
}

section.contact-me .submit {
  background-color: rgba(36, 37, 46, 1);
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 1.8rem;
  border: 1px solid rgb(63, 63, 70);
}

section.contact-me .submit:hover {
  scale: 0.97;
  cursor: pointer;
  border: 1px solid rgb(45, 212, 191);
}

@media (max-width: 1150px){
  .contact-animation{display: none;}
}

@media (max-width: 600px) {
  section.contact-me form {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  section.contact-me form div.flex {
    flex-direction: column;
    align-items: start;
  }

  section.contact-me .animation {
    display: none;
  }

  section.contact-me #email,
  section.contact-me #message {
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 0;
    margin-top: 1rem;
  }

  section.contact-me .submit{
    width: 30%;
    align-self: center;
  }
}
